<div class="alert alert-light fade show position-fixed start-0 bottom-0 z-index-99 shadow p-4 m-3 col-10 col-md-8 col-lg-4"
    role="alert">
    <div class="text-dark">
        <!-- Image -->
        <img src="assets/img/cookie.svg" class="h-50px mb-3" alt="cookie">
        <!-- Content -->
        <p class="mb-0">Этот веб-сайт хранит файлы cookie на вашем компьютере. Чтобы узнать больше о файлах cookie,
            которые мы используем, ознакомьтесь с нашей
            <a class="text-dark" href="#"><u> Политикой конфиденциальности</u></a>.
        </p>
        <!-- Buttons -->
        <div class="mt-3">
            <button type="button" class="btn btn-success-soft btn-sm mb-0" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">Принять</span>
            </button>
            <button type="button" class="btn btn-danger-soft btn-sm mb-0" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">Отклонить</span>
            </button>
        </div>
    </div>
</div>