<div class="modal fade" id="modalLoginActivity" tabindex="-1" aria-labelledby="modalLabelLoginActivity" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabelLoginActivity">Where You're Logged in </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <!-- location list item -->
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0 pb-3">
                        <div class="me-2">
                            <h6 class="mb-0">London, UK</h6>
                            <ul class="nav nav-divider small">
                                <li class="nav-item">Active now </li>
                                <li class="nav-item">This Apple iMac </li>
                            </ul>
                        </div>
                        <button class="btn btn-sm btn-primary-soft"> Logout </button>
                    </li>
                    <!-- location list item -->
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0 py-3">
                        <div class="me-2">
                            <h6 class="mb-0">California, USA</h6>
                            <ul class="nav nav-divider small">
                                <li class="nav-item">Active now </li>
                                <li class="nav-item">This Apple iMac </li>
                            </ul>
                        </div>
                        <button class="btn btn-sm btn-primary-soft"> Logout </button>
                    </li>
                    <!-- location list item -->
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0 py-3">
                        <div class="me-2">
                            <h6 class="mb-0">New york, USA</h6>
                            <ul class="nav nav-divider small">
                                <li class="nav-item">Active now </li>
                                <li class="nav-item">This Windows </li>
                            </ul>
                        </div>
                        <button class="btn btn-sm btn-primary-soft"> Logout </button>
                    </li>
                    <!-- location list item -->
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0 pt-3">
                        <div class="me-2">
                            <h6 class="mb-0">Mumbai, India</h6>
                            <ul class="nav nav-divider small">
                                <li class="nav-item">Active now </li>
                                <li class="nav-item">This Windows </li>
                            </ul>
                        </div>
                        <button class="btn btn-sm btn-primary-soft"> Logout </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>