/*------------------------------------------------------------------
[ buttons ]*/

.btn-link {
    padding: 0;
}

.btn {
    outline: 0;
}

.input-group .btn {
    margin-bottom: 0;
}

.btn-xs {
    padding: 0.4rem 0.6rem;
    font-size: 0.6rem;
    line-height: 1.2;
    border-radius: 0.2rem;
}

.btn-light.active,
.btn-light:active,
.btn-light:focus,
.btn-light:hover {
    background: #eef0f2;
}

.btn-white {
    background: #fff;
    color: #14191e;
}

.btn-white.active,
.btn-white:active,
.btn-white:focus,
.btn-white:hover {
    background: #eff2f6;
    color: #14191e;
}

.btn-outline-light {
    background: transparent;
    border-color: #e1e4e6;
    color: #676a79;
}

.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active,
.btn-check:checked+.btn-outline-light {
    background: #e1e4e6;
    border-color: #e1e4e6;
    color: #14191e;
}

.btn-primary-soft {
    color: #0f6fec;
    background-color: rgba(15, 111, 236, 0.1);
}

.btn-primary-soft:hover {
    color: #fff;
    background-color: #0f6fec;
}

.btn-secondary-soft {
    color: #14191e;
    background-color: rgba(20, 25, 30, 0.1);
}

.btn-secondary-soft:hover {
    color: #fff;
    background-color: #14191e;
}

.btn-success-soft {
    color: #0cbc87;
    background-color: rgba(12, 188, 135, 0.1);
}

.btn-success-soft:hover {
    color: #fff;
    background-color: #0cbc87;
}

.btn-info-soft {
    color: #4f9ef8;
    background-color: rgba(79, 158, 248, 0.1);
}

.btn-info-soft:hover {
    color: #fff;
    background-color: #4f9ef8;
}

.btn-warning-soft {
    color: #f7c32e;
    background-color: rgba(247, 195, 46, 0.1);
}

.btn-warning-soft:hover {
    color: #000;
    background-color: #f7c32e;
}

.btn-danger-soft {
    color: #d6293e;
    background-color: rgba(214, 41, 62, 0.1);
}

.btn-danger-soft:hover {
    color: #fff;
    background-color: #d6293e;
}

.btn-light-soft {
    color: #eef0f2;
    background-color: rgba(238, 240, 242, 0.1);
}

.btn-light-soft:hover {
    color: #000;
    background-color: #eef0f2;
}

.btn-dark-soft {
    color: #14191e;
    background-color: rgba(20, 25, 30, 0.1);
}

.btn-dark-soft:hover {
    color: #fff;
    background-color: #14191e;
}

.btn-primary-soft-hover:hover:hover {
    color: #0f6fec !important;
    background-color: rgba(15, 111, 236, 0.1);
}

.btn-secondary-soft-hover:hover:hover {
    color: #14191e !important;
    background-color: rgba(20, 25, 30, 0.1);
}

.btn-success-soft-hover:hover:hover {
    color: #0cbc87 !important;
    background-color: rgba(12, 188, 135, 0.1);
}

.btn-info-soft-hover:hover:hover {
    color: #4f9ef8 !important;
    background-color: rgba(79, 158, 248, 0.1);
}

.btn-warning-soft-hover:hover:hover {
    color: #f7c32e !important;
    background-color: rgba(247, 195, 46, 0.1);
}

.btn-danger-soft-hover:hover:hover {
    color: #d6293e !important;
    background-color: rgba(214, 41, 62, 0.1);
}

.bg-danger-soft-hover:hover {
    color: #d6293e !important;
}

.btn-light-soft-hover:hover:hover {
    color: #eef0f2 !important;
    background-color: rgba(238, 240, 242, 0.1);
}

.btn-dark-soft-hover:hover:hover {
    color: #14191e !important;
    background-color: rgba(20, 25, 30, 0.1);
}

.btn-dashed {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(50%, transparent)), -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(50%, transparent)), -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(50%, transparent)), -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(50%, transparent));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 50%, transparent 50%), linear-gradient(0deg, rgba(0, 0, 0, 0.1) 50%, transparent 50%), linear-gradient(90deg, rgba(0, 0, 0, 0.1) 50%, transparent 50%), linear-gradient(0deg, rgba(0, 0, 0, 0.1) 50%, transparent 50%);
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-size: 10px 2px, 2px 10px, 10px 2px, 2px 10px;
    background-position: left top, right top, left bottom, left top;
    padding: 0.5rem, 1rem;
}

.btn-dashed:hover {
    -webkit-animation: border-dance 4s infinite linear;
    animation: border-dance 4s infinite linear;
}

@-webkit-keyframes border-dance {
    0% {
        background-position: left top, right top, right bottom, left bottom;
    }

    100% {
        background-position: right top, right bottom, left bottom, left top;
    }
}

@keyframes border-dance {
    0% {
        background-position: left top, right top, right bottom, left bottom;
    }

    100% {
        background-position: right top, right bottom, left bottom, left top;
    }
}

.btn-loader {
    position: relative;
    text-align: center;
}

.btn-loader .load-icon {
    display: none;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-loader .load-text {
    opacity: 1;
    visibility: visible;
}

.btn-loader.active .load-text {
    opacity: 0;
    visibility: hidden;
}

.btn-loader.active .load-icon {
    display: block;
}

.spinner-dots {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.spinner-dot {
    background-color: #a1a1a8;
    display: inline-block;
    height: 4px;
    margin: 2px;
    border-radius: 50%;
    width: 4px;
}

@-webkit-keyframes dot {
    0% {
        background-color: #a1a1a8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        background-color: #676a79;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    100% {
        background-color: #a1a1a8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes dot {
    0% {
        background-color: #a1a1a8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        background-color: #676a79;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    100% {
        background-color: #a1a1a8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.btn-link-loader.active .spinner-dots .spinner-dot {
    -webkit-animation: dot ease-in-out 1s infinite;
    animation: dot ease-in-out 1s infinite;
}

.btn-link-loader.active .spinner-dots .spinner-dot:nth-of-type(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.btn-link-loader.active .spinner-dots .spinner-dot:nth-of-type(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}