/*------------------------------------------------------------------
[ cards ]*/

.card {
    --bs-card-cap-bg: var(--bs-body-bg);
}

.card.overflow-hidden {
    will-change: transform;
}

.card .card-image {
    position: relative;
}

.card .card-image .card-element-hover {
    visibility: hidden;
    margin-top: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 9;
}

.card:hover .card-image .card-element-hover {
    visibility: visible;
    margin-top: 0px;
    opacity: 1;
}

.card.card-overlay-bottom {
    overflow: hidden;
}

.card.card-overlay-bottom:before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    background-image: linear-gradient(180deg, transparent, black);
    z-index: 1;
}

.card .card-img-overlay {
    z-index: 2;
}