/*------------------------------------------------------------------
[ dropzone ]*/

.dropzone {
    min-height: auto;
    border-radius: 0.4rem;
    position: relative;
    z-index: 0;
    border: 2px dashed #eef0f2;
}

.dropzone .dz-preview.dz-image-preview {
    background: transparent;
}

.dropzone-custom {
    position: relative;
}

.dropzone-custom .dz-cover-preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

.dropzone-custom .dz-cover-preview .dz-cover-preview-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 0 !important;
    overflow: hidden;
}

.dropzone-custom .dz-preview {
    min-height: auto;
    margin: 0;
    width: 100%;
}

.dropzone-custom .dz-preview.dz-cover-preview .dz-cover-preview-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.375rem;
}

.dropzone-custom.dropzone-cover .dz-message {
    padding: 6rem 2rem;
}

.dropzone-custom.dropzone-cover.dz-file-processing .dz-message {
    display: none;
}

.dropzone-custom.dropzone-cover.dz-file-processing.dz-file-complete .dz-message {
    display: block;
}

.dropzone-custom.dropzone-cover.dz-max-files-reached .dz-message {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-color: transparent;
}

.dropzone-custom.dropzone-cover .dz-preview.dz-cover-preview .dz-cover-preview-img {
    width: 100%;
    height: 100%;
}

.dropzone-custom .dz-message {
    position: relative;
    padding: 2rem;
    margin: 0;
}

.dropzone-custom.dropzone .dz-preview {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.dropzone-custom.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message * {
    cursor: pointer;
}

.dropzone-custom.dropzone-cover.dz-max-files-reached:focus .dz-message,
.dropzone.dropzone-cover.dz-max-files-reached:hover .dz-message {
    opacity: 1;
}