/*------------------------------------------------------------------
[ forms ]*/

.input-m {
    min-height: 50px;
    padding: 10px 16px;
}

.input-l {
    min-height: 58px;
    padding: 12px 20px;
}

@include media-breakpoint-up(lg) {
    .input-m {
        min-height: 66px;
    }

    .input-l {
        min-height: 66px;
    }
}