/*------------------------------------------------------------------
[ welcome ]*/

.section-welcome {
    position: relative;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;

    .container {
        max-width: 480px;
    }
}

.sign-up-media {
    width: 60px;
    height: 50px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.welcome-quiz {
    min-height: 470px;

    &__header {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

.btn-back {
    width: 50px;
    height: 50px;
    border: 1px solid var(--bs-border-color);
}

.form-mascot-01 {
    position: absolute;
    top: -57px;
    right: -72px;
    width: 240px;
    height: auto;
}

.form-mascot-02 {
    position: absolute;
    top: -163px;
    right: -31px;
    width: 220px;
    height: auto;
}

.form-mascot-03,
.form-mascot-08 {
    max-width: 100%;
    width: 240px;
    height: auto;
}

.form-mascot-04 {
    max-width: 100%;
    width: 345px;
    height: auto;
}

.form-mascot-05 {
    max-width: 100%;
    width: 220px;
    height: auto;
}

.form-mascot-06,
.form-mascot-07 {
    position: absolute;
    top: -48px;
    right: -79px;
    width: 180px;
    height: auto;
}

@include media-breakpoint-up(lg) {
    .form-mascot-02 {
        width: 280px;
        top: -207px;
    }

    .form-mascot-03,
    .form-mascot-08 {
        width: 380px;
    }

    .form-mascot-04 {
        width: 380px;
    }

    .form-mascot-05 {
        width: 380px;
    }

    .form-mascot-06,
    .form-mascot-07 {
        top: -20px;
        right: 0;
        width: 180px;
    }
}

/* welcome-check-option */

.welcome-check-option {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 6px 8px 0px rgba(17, 47, 98, 0.08);
    transition: 0.3s ease;

    .check-option-flag {
        flex-shrink: 0;
        max-width: 52px;
        width: 100%;
        height: 58px;
        border-radius: 6px;
        border: none;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            border-radius: 50%;
        }
    }

    .check-option-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border: none;
        padding: 14px;
        border-radius: 6px;
        background: #fff;
    }

    .check-title {
        font-size: 18px;
    }

    input[type="radio"],
    input[type="checkbox"] {
        display: none;
    }

    .custom-radio {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #656565;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        transition: 0.3s ease;
    }

    .custom-checkbox {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #656565;
        border-radius: 2px;
        display: inline-block;
        position: relative;
        transition: 0.3s ease;
    }
}

.data-welcome-check-option {
    border: 2px solid #fff;

    &:has(input:checked) {
        border-color: #2A75F6;
    }
}

.welcome-check-option input[type="radio"]:checked+.custom-radio,
.welcome-check-option input[type="checkbox"]:checked+.custom-checkbox {
    background-color: #2A75F6;
    border-color: #2A75F6;
}

.welcome-check-option input[type="radio"]:checked+.custom-radio::after {
    content: url(../img/svg/radio-check.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20px;
    height: 20px;
}

.welcome-check-option input[type="checkbox"]:checked+.custom-checkbox::after {
    content: url(../img/svg/checkbox.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20px;
    height: 20px;
}

/* language-list */

.language-list-area {
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        height: 50px;
        background: linear-gradient(180deg, rgba(243, 247, 254, 0) 0%, #F3F7FE 43.33%);
    }
}

.language-list {
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 460px;
    padding: 10px;
    padding-bottom: 62px;
}