<article class="blog-item">
    <div class="blog-article__top">
        <div class="blog-article__img-block">
            <a href="blog-item.html">
                <img src="assets/img/blog-image.jpg" alt="">
            </a>
        </div>
        <div class="blog-article__text-block">
            <h3 class="h5">@@title</h3>
        </div>
    </div>

    <div class="blog-article__bottom">
        <div class="blog-article__bottom-left">
            <span class="blog-article__peoples-text">Прочитали:</span>
            <!-- Avatars -->
            <ul class="avatar-group list-unstyled align-items-center justify-content-start mb-0 mt-1">
                <li class="avatar avatar-xs">
                    <img class="avatar-img rounded-circle" src="assets/img/avatar/02.jpg" alt="avatar">
                </li>
                <li class="avatar avatar-xs">
                    <img class="avatar-img rounded-circle" src="assets/img/avatar/03.jpg" alt="avatar">
                </li>
                <li class="avatar avatar-xs">
                    <img class="avatar-img rounded-circle" src="assets/img/avatar/04.jpg" alt="avatar">
                </li>
            </ul>
        </div>

        <div class="blog-article__bottom-right">
            <a href="blog-item.html" class="blog-article__link">Читать</a>
            <div class="blog-article__date-text mt-3">
                <span>20 Января, 2022</span>
            </div>
        </div>
    </div>
</article>