<div class="card bg-transparent border-0">
    <div class="row g-3">
        <div class="col-4">
            <!-- Blog image -->
            <img class="rounded" src="@@thumbURL" alt="">
        </div>
        <div class="col-8">
            <!-- Blog caption -->
            <a href="blog.html" class="badge bg-info bg-opacity-10 text-info mb-2 fw-bold">Статьи</a>
            <h5><a href="blog-item.html" class="btn-link stretched-link text-reset fw-bold">@@title</a></h5>
            <div class="d-none d-sm-inline-block">
                <p class="mb-2">@@description</p>
                <!-- BLog date -->
                <a class="small text-secondary" href="#"><i class="bi bi-calendar-date pe-1 me-2"></i>22 янв, 2022</a>
            </div>
        </div>
    </div>
</div>