<div class="card h-100">
    <a href="profile-course-item.html">
        <img class="card-img-top" src="assets/img/post/16by9/01.jpg" alt="Post">
    </a>
    <div class="card-body">
        <!-- Info -->
        <a class="text-body" href="profile-course-item.html">@@title</a>
        <!-- Feed react -->
        <ul class="nav nav-stack flex-wrap small mt-3">
            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="bi bi-hand-thumbs-up-fill pe-1"></i>(56)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="bi bi-chat-fill pe-1"></i>(12)</a>
            </li>
            <!-- Card share action -->
            <li class="nav-item dropdown ms-sm-auto">
                <a class="nav-link mb-0" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(3)
                </a>
                <!-- Card share action dropdown menu -->
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#"><i class="bi bi-envelope fa-fw pe-2"></i>Send via Direct Message</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark </a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-link fa-fw pe-2"></i>Copy link to post</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-share fa-fw pe-2"></i>Share post via …</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square fa-fw pe-2"></i>Share to News Feed</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>