<footer class="bg-mode py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6">
                <!-- Footer nav START -->
                <ul class="nav justify-content-center justify-content-md-start lh-1">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Личный кабинет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Чат</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Достижения</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Блог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Награды</a>
                    </li>
                </ul>
                <!-- Footer nav START -->
            </div>
            <div class="col-md-6">
                <!-- Copyright START -->
                <p class="text-center text-md-end mb-0">Все права защищены / Smartpolyglot © 2022</p>
                <!-- Copyright END -->
            </div>
        </div>
    </div>
</footer>