<section class="section-blog-slider py-4 py-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="section-title text-center">
                    <h2>Начни обучение прямо сейчас</h2>
                </div>

                <div class="owl-carousel blog__slider">

                    <!-- item-fixed-height 1 -->
                    <div class="item-fixed-height">
                        @@include('../cards/blog-slide.html', {
                            "title": "15 апреля отмечается международный день культуры"
                        })
                    </div>

                    <!-- item-fixed-height 2 -->
                    <div class="item-fixed-height">
                        @@include('../cards/blog-slide.html', {
                            "title": "Древнеанглийский, среднеанглийский и современный"
                        })
                    </div>

                    <!-- item-fixed-height 3 -->
                    <div class="item-fixed-height">
                        @@include('../cards/blog-slide.html', {
                            "title": "Традиции британской королевской семьи"
                        })
                    </div>

                    <!-- item-fixed-height 4 -->
                    <div class="item-fixed-height">
                        @@include('../cards/blog-slide.html', {
                            "title": "Секреты делового общения в Англии"
                        })
                    </div>

                    <!-- item-fixed-height 5 -->
                    <div class="item-fixed-height">
                        @@include('../cards/blog-slide.html', {
                            "title": "Секреты делового общения в Англии"
                        })
                    </div>

                    <!-- item-fixed-height 6 -->
                    <div class="item-fixed-height">
                        @@include('../cards/blog-slide.html', {
                            "title": "Традиции британской королевской семьи"
                        })
                    </div>

                    <!-- item-fixed-height 7 -->
                    <div class="item-fixed-height">
                        @@include('../cards/blog-slide.html', {
                            "title": "Древнеанглийский, среднеанглийский и современный"
                        })
                    </div>

                    <!-- item-fixed-height 8 -->
                    <div class="item-fixed-height">
                        @@include('../cards/blog-slide.html', {
                            "title": "15 апреля отмечается международный день культуры"
                        })
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>