<section class="py-4 py-sm-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-5">
                <div class="info-block__box info-blue rounded-4 h-100">
                    <p class="text-white">
                        Есть желание изучать язык, но нет понятия, как? Хочешь максимально быстрого и
                        качественного
                        результата?
                    </p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="info-block__box info-grey d-flex align-items-center rounded-4 h-100">
                    <div class="d-flex align-items-center">
                        <div class="info-block__logo me-4">
                            <img src="assets/img/smart-polyglot.png" alt="">
                        </div>
                        <div>
                            <p class="m-0">
                                <span class="text-primary">Решает проблему</span> бессистемного подхода к
                                обучению и
                                гарантирует порядок в знаниях.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>