<section class="bg-white py-5">
    <div class="container-fluid p-0">

        <div class="header-carousel-wrap">
            <div class="owl-carousel header-carousel">

                <!-- item 1 -->
                <div class="owl-carousel-item bg-contain" data-dot="<img src='assets/img/lang-1.svg'>"
                    style="background-image: url(assets/img/map-en.jpg);">
                    <div class="owl-carousel-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-10 col-lg-8">
                                    <div class="home__map-info">
                                        <div class="home__color-info d-flex">
                                            <div>
                                                <div class="home__color" style="background-color: #0000D5;">
                                                </div>
                                            </div>
                                            <div><span>Является национальным и родным языком большинства</span>
                                            </div>
                                        </div>
                                        <div class="home__color-info d-flex">
                                            <div>
                                                <div class="home__color" style="background-color: #3A85E3;">
                                                </div>
                                            </div>
                                            <div><span>Является официальным языком, но не является языком
                                                    большинства</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- item 2 -->
                <div class="owl-carousel-item bg-contain" data-dot="<img src='assets/img/lang-2.svg'>"
                    style="background-image: url(assets/img/map-de.jpg);">
                    <div class="owl-carousel-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-10 col-lg-8">
                                    <div class="home__map-info">
                                        <div class="home__color-info d-flex">
                                            <div>
                                                <div class="home__color" style="background-color: #FFD248;">
                                                </div>
                                            </div>
                                            <div><span>Является официальным и родным языком большинства</span>
                                            </div>
                                        </div>
                                        <div class="home__color-info d-flex">
                                            <div>
                                                <div class="home__color" style="background-color: #FF9F79;">
                                                </div>
                                            </div>
                                            <div><span>Является официальным языком, не является языком
                                                    большинства</span></div>
                                        </div>
                                        <div class="home__color-info d-flex">
                                            <div>
                                                <div class="home__color" style="background-color: #94191C;">
                                                </div>
                                            </div>
                                            <div><span>Язык меньшинства</span></div>
                                        </div>
                                        <div class="home__color-info d-flex">
                                            <div>
                                                <div class="home__color" style="background-color: #B8DE4B;">
                                                </div>
                                            </div>
                                            <div><span>Говорит > 50 000 человек, не имеет юридического
                                                    признания</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- item 3 -->
                <div class="owl-carousel-item bg-contain" data-dot="<img src='assets/img/lang-3.svg'>"
                    style="background-image: url(assets/img/map-fr.jpg);">
                    <div class="owl-carousel-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-10 col-lg-8">
                                    <div class="home__map-info">
                                        <div class="home__color-info d-flex">
                                            <div>
                                                <div class="home__color" style="background-color: #0000D5;">
                                                </div>
                                            </div>
                                            <div><span>Является родным языком большинства</span></div>
                                        </div>
                                        <div class="home__color-info d-flex">
                                            <div>
                                                <div class="home__color" style="background-color: #3A85E3;">
                                                </div>
                                            </div>
                                            <div><span>Официальный или административный язык</span></div>
                                        </div>
                                        <div class="home__color-info d-flex">
                                            <div>
                                                <div class="home__color" style="background-color: #ACE0FF;">
                                                </div>
                                            </div>
                                            <div><span>Второстепенный язык</span></div>
                                        </div>
                                        <div class="home__color-info d-flex">
                                            <div>
                                                <div class="home__color" style="background-color: #B8DE4B;">
                                                </div>
                                            </div>
                                            <div><span>Местное франкоязычное меньшинство</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>