<section class="section-education">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2>Обучение в POLYGLOT</h2>
                    <p class="subtitle">
                        Обучение языкам на SMART POLYGLOT это интересно, инновационно и совершенно бесплатно, по
                        крайней мере в
                        2020 году! Мы даем знания максимально просто и сжато!
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div>
                    <ul class="list-none education__tab-list">
                        <li class="active"><a href="#tabs-text-1">Индивидуальное обучение</a></li>
                        <li><a href="#tabs-text-2">Оценка в режиме On-line</a></li>
                        <li><a href="#tabs-text-3">Только суть</a></li>
                        <li><a href="#tabs-text-1">Награды и достижения</a></li>
                        <li><a href="#tabs-text-2">В любом возрасте</a></li>
                        <li><a href="#tabs-text-3">Всегда полезно</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="education__tab-container">
                    <div class="education__tab-item" id="tabs-text-1">
                        <p class="education__tab-text">
                            Не всем удобно заниматься изучением языка в группах. Подобные уроки рассчитаны на
                            общий прогресс, а не
                            на улучшение конкретно вашего уровня языка. Таким образом, средняя успеваемость
                            группы никак не
                            отражает ваши знания, а значит и не гарантирует вам результат.
                        </p>
                        <p class="education__tab-text">
                            Для успешного освоения материала не обойтись без индивидуального подхода. Опираясь в
                            составлении
                            индивидуальной программы на личные пробелы в знаниях и на уже освоенный материал, вы
                            в разы
                            увеличиваете качество своего обучения.
                        </p>
                    </div>

                    <div class="education__tab-item" id="tabs-text-2">
                        <p class="education__tab-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nulla dignissimos
                            repellat molestias unde necessitatibus, velit illo fuga perferendis ea quisquam nisi
                            neque magnam, maxime, minus numquam aut molestiae autem corporis nam! Minima,
                            eligendi
                            dolore eius provident, ex officia a.
                        </p>
                    </div>

                    <div class="education__tab-item" id="tabs-text-3">
                        <p class="education__tab-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nulla dignissimos
                            repellat molestias unde necessitatibus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>