<section class="section-smart py-4 py-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="section-title text-center">
                    <h2>Система обучения</h2>
                </div>

                <div class="smart__wrap">
                    <div class="owl-carousel smart__slider">

                        <div class="item-fixed-height">
                            <div class="smart__item-wrap" style="background-image: url(assets/img/bg-smart-1.png);">
                                <div class="smart__item">
                                    <p>
                                        Мы за системный и конктретный результат. Программа содержит конкретные
                                        цели и установки, наличие
                                        мотивации изучать иностранный язык напрямую зависит от правильно
                                        поставленной цели.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="item-fixed-height">
                            <div class="smart__item-wrap" style="background-image: url(assets/img/bg-smart-2.png);">
                                <div class="smart__item">
                                    <p>
                                        Наглядный прогресс. Благодаря измерению вашей успеваемости, которая
                                        указана в показателях, легко
                                        отслеживать прогресс.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="item-fixed-height">
                            <div class="smart__item-wrap" style="background-image: url(assets/img/bg-smart-3.png);">
                                <div class="smart__item">
                                    <p>
                                        Для достижения ваших целей у нас есть все необходимые инструменты. <br>
                                        Мы сделали простую и наглядную программу которая приведёт вас к
                                        желаемому результату.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="item-fixed-height">
                            <div class="smart__item-wrap" style="background-image: url(assets/img/bg-smart-4.png);">
                                <div class="smart__item">
                                    <p>
                                        Чтобы значительно повысить вашу мотивацию, мы поможем определить
                                        актуальные цели.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="item-fixed-height">
                            <div class="smart__item-wrap" style="background-image: url(assets/img/bg-smart-5.png);">
                                <div class="smart__item">
                                    <p>
                                        Постановка цели включает в себя определение временного отрезка для
                                        достижения цели. Продуманные
                                        сроки сдачи гарантируют получение ожидаемого результата.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>