<section class="py-4 py-sm-5">
    <div class="container">
        <div
            class="card card-body overflow-hidden bg-mode-2 shadow-none border-0 rounded-4 p-4 p-sm-5 text-center position-relative">
            <!-- Images -->
            <div class="bg-cta-1 bg-contain" style="background-image: url(assets/img/bg-cta-1.svg);"></div>
            <div class="bg-cta-2 bg-contain" style="background-image: url(assets/img/bg-cta-2.svg);"></div>

            <div class="col-lg-8 mx-auto">
                <!-- Title -->
                <h2 class="h1">Начни обучение прямо сейчас</h2>
                <p class="lead mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos suscipit
                    ipsam, obcaecati
                    cupiditate nesciunt. Eaque fugiat impedit sed, nostrum qui, quas nobis labore sapiente!</p>
                <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-primary h-40px">Начать</a>
                </div>
            </div>
        </div>
    </div>
</section>