/*!
 * Theme: Smart Polyglot
 * Author: Andrew G
 * Version: 1.1.0
 */

// bootstrap
@import 'bootstrap-custom';

// components
@import 'components/fonts';
@import 'components/variables';
@import 'components/general';
@import 'components/typography';
@import 'components/links';
@import 'components/forms';
@import 'components/buttons';
@import 'components/cards';
@import 'components/accordion';
@import 'components/breadcrumb';
@import 'components/dropzone';
@import 'components/choices';
@import 'components/scrollable';
@import 'components/header';
@import 'components/footer';
@import 'components/sections';