<div class="card">
    <div class="card-header border-0 pb-0">
        <h5 class="card-title">О себе</h5>
    </div>
    <div class="card-body position-relative pt-0">
        <p>Всем привет! Я работаю в диджитал-агентстве в Европе вдали от родины. С удовольствием
            познакомлюсь с новыми людьми, которым нужна помощь в изучении русского языка, а также
            просто для общения на разные темы.<br>Помимо своей профессиональной сферы интересуюсь
            теннисом (играю сам и слежу за профессионалами) и сериалами (Netflix one love). Пишите!
        </p>
        <!-- Meta -->
        <ul class="list-unstyled mt-3 mb-0">
            <li class="mb-2">Возраст: <strong>28 лет</strong></li>
            <li class="mb-2">Зарегистрирован: <strong>2 апреля 2021</strong></li>
            <li class="mb-2">Род деятельности: <strong>Специалист</strong></li>
            <li class="mb-2">Работа: <strong>UI/UX-дизайнер</strong></li>
            <li class="mb-2">Страна: <strong>Россия</strong></li>
            <li class="mb-2">Родной язык: <strong>Русский</strong></li>
            <li>Уровень языка: <strong>Носитель</strong></li>
        </ul>
        @@if (myProfile) {
        <div class="mt-2">
            <a href="profile-settings.html" class="small">Изменить</a>
        </div>
        }
    </div>
</div>